
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCuentas.cshtml";
}


<div class="signupform">
    <h1>Iniciar Sesión</h1>
<div class="container">
    <div class="agile_info">
        <div class="w3l_form">
            <div class="left_grid_info">
                <h3>Bienvenido!</h3>
                <h4>Nuestro sistema de inventario te ayudará a facilitar y administrar tu negocio desde cualquier lugar en donde te encuentres</h4>
                <ul class="social_section_1info">
                    <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="w3_pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" class="w3_vimeo"><i class="fa fa-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="w3_info">
            <h2>INGRESA TU  CUENTA</h2>
            <p>Con tu cuenta puedes administrar tu negocio de la forma mas facil y sencilla</p>
            <form action="" method="post">

                <div class="input-group">
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="email" placeholder="Email" name="Email" required="">
                </div>
                <div class="input-group">
                    <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="Password" placeholder="Contraseña" name="Password" required="">
                </div>

                <button class="btn btn-danger btn-block" type="submit">Iniciar Sesión</button>
                                <div class="login-check">
                                   <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Recordar</label>
                                 </div>
                <br />
                <div>
                    <p class="account">Al hacer clic en iniciar sesión estas aceptanto nuestros <a href="#">Terminos & Condiciones</a></p>
                    <p class="account1">No tienes una cuenta? <a href="/Cuentas/Registrar">Registrate Aqui!!</a></p>
                </div>

            </form>
        </div>
           
       
    </div>
        <div class="clear"></div>
    </div>
    </div>
